<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091889459400-pf3eouvi7850iav3qveunrh0jsohi15g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091889459400-pf3eouvi7850iav3qveunrh0jsohi15g</string>
	<key>API_KEY</key>
	<string>AIzaSyBKSJ_cVbPP5FFdMRo1ZMmimgSGO0iXhQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091889459400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-b4be6</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-b4be6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091889459400:ios:5ce31028043111258935fd</string>
</dict>
</plist>